
<mat-card matTooltip="Info about the action"
          [matTooltipShowDelay]="100"
          [matTooltipHideDelay]="250"
          [matTooltipPosition]="'left'">
  <mat-card-title>Hero</mat-card-title>
  <img src={{hero.img}}>

  <div appProgressBarAnimated (character)="hero"  class="attack-bar"  #progressBar ></div>
  <mat-card-content>
    <div>Name: {{hero.name}}</div>
    <div>Class: {{hero.heroClass}}</div>
    <div>Damage: {{hero.damage}}</div>
    <div>HP: {{hero.hp}}</div>
    <div>Gold: {{hero.gold}}</div>
    <div>Exp: {{hero.heroLevel?.currentExp}}</div>
    <div>Level: {{hero.heroLevel?.level}}</div>
  </mat-card-content>
</mat-card>

<!--{{boxClass}}-->

<!--<div class="container">-->
  <!--<input type="checkbox" [(ngModel)]="boxClass"/>-->
  <!--<div class="box rotate" ngClass="{'box': boxClass, 'circle': !boxClass} "></div>-->
<!--</div>-->

<!--<div class="container">-->
  <!--<input type="checkbox" [(ngModel)]="boxClass"/>-->
  <!--<div class="box rotate" [class]="{'box': boxClass, 'circle': !boxClass} "></div>-->
<!--</div>-->


<!--<div style="width: 500px; height: 500px; background-color: lightblue; margin-bottom: 30px;">-->
  <!--<img #mushroom-->
       <!--src="assets/hero1.png"-->
       <!--style="width: 50px; height: 50px;" />-->
<!--</div>-->

<!--<button (click)="doIt()">Start</button>-->



<!--ngStyle="{'animation: {{hero?.attackSpeed}}s}'}"-->
