<p>
  battle works!
</p>


<ng-container>
  <button (click)="nextEnemy()" mat-button>Next Enemy</button>
  <button (click)="startCombat()" mat-button>Start Combat</button>
  <button (click)="deactivateCombat()" mat-button>End Combat</button>


  <mat-grid-list class="battlefield" cols="2" rowHeight="1:1">
    <mat-grid-tile>
<app-battle-hero [hero]="hero"></app-battle-hero>
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngFor="let enemy of enemies" (click)="attackEnemy(enemy)">
        <app-battle-enemy [enemy]="enemy"></app-battle-enemy>
      </div>

    </mat-grid-tile>
  </mat-grid-list>


  <!--<button (click)="attackEnemy()" mat-button>Attack</button>-->


  <mat-card></mat-card>
</ng-container>

<script>
  var attackSpeed = hero.attackSpeed

  console.log(attackSpeed)
</script>


<!--<button *ngFor="let skill of hero.skills" (click)="useSkill(skill)" mat-button >{{skill.name}}</button>-->

