{{itemSlot?.equipmentSlotType?.toString()}}
<div>
  <div *ngIf="!itemSlot.isEmpty()"
       [dndDraggable]="itemSlot"
       [dndEffectAllowed]="draggable.effectAllowed"
       [dndDisableIf]="draggable.disable"

       [dndDropzone]
       (dndDrop)="onDrop($event)">
    <img src="{{itemSlot.item.img}}" (click)="click(itemSlot)">
  </div>
  <div *ngIf="itemSlot.isEmpty()"
       [dndDropzone]
       (dndDrop)="onDrop($event)">
    <img src="{{imgEmptySlot}}" (click)="click(itemSlot)">
  </div>

</div>


<!--&lt;!&ndash;a draggable element&ndash;&gt;-->
<!--<div dndDropzone-->
     <!--[dndDraggable]="draggable.data"-->
     <!--[dndEffectAllowed]="draggable.effectAllowed"-->
     <!--[dndDisableIf]="draggable.disable"-->
     <!--(dndStart)="onDragStart($event)"-->
     <!--(dndCopied)="onDraggableCopied($event)"-->
     <!--(dndLinked)="onDraggableLinked($event)"-->
     <!--(dndMoved)="onDraggableMoved($event)"-->
     <!--(dndCanceled)="onDragCanceled($event)"-->
     <!--(dndEnd)="onDragEnd($event)"-->
     <!--(dndDragover)="onDragover($event)"-->
     <!--(dndDrop)="onDrop($event)"-->
<!--&gt;-->

  <!--&lt;!&ndash;if [dndHandle] is used inside dndDraggable drag can only start from the handle&ndash;&gt;-->
  <!--<div *ngIf="draggable.handle"-->
       <!--dndHandle>HANDLE-->
  <!--</div>-->

  <!--draggable ({{draggable.effectAllowed}}) <span [hidden]="!draggable.disable">DISABLED</span>-->

  <!--&lt;!&ndash;optionally select a child element as drag image&ndash;&gt;-->
  <!--<div dndDragImageRef>DRAG_IMAGE</div>-->

<!--</div>-->

<!--&lt;!&ndash;a dropzone&ndash;&gt;-->
<!--&lt;!&ndash;to allow dropping content that is not [dndDraggable] set dndAllowExternal to true&ndash;&gt;-->
<!--<section dndDropzone-->
         <!--(dndDragover)="onDragover($event)"-->
         <!--(dndDrop)="onDrop($event)">-->

  <!--dropzone-->

  <!--&lt;!&ndash;optional placeholder element for dropzone&ndash;&gt;-->
  <!--&lt;!&ndash;will be removed from DOM on init&ndash;&gt;-->
  <!--<div style="border: 1px orangered solid; border-radius: 5px; padding: 15px;"-->
       <!--dndPlaceholderRef>-->
    <!--placeholder-->
  <!--</div>-->

<!--</section>-->
