
<mat-card >
  <mat-card-title>Monster</mat-card-title>
  <img src={{enemy.img}}>
  <mat-card-content>
    <div>Name: {{enemy.name}}</div>
    <div>Damage: {{enemy.damage}}</div>
    <div>HP: {{enemy.hp}}</div>
  </mat-card-content>
  <div class="attack-bar"  #progressBar ></div>

</mat-card>
