<div>
  Inventory
  <div *ngFor="let inventorySlot of hero?.inventory?.getSlots()">
    <app-equipment-slot [hero]="hero" [itemSlot]="inventorySlot" [imgEmptySlot]="imgEmptySlot"></app-equipment-slot>
  </div>
</div>
