<!--{{hero}}-->
<!--Name: {{hero?.name}}-->
<!--Class: {{hero?.heroClass}}-->

<div>
  <button mat-button (click)="hello()">Hello</button>
  <div>

    {{hero?.name}}
    Equipment:
    <div *ngFor='let equipmentSlot of hero?.equipment?.getSlots()'>
      <app-equipment-slot [hero]="hero" [itemSlot]="equipmentSlot" [imgEmptySlot]="imgEmptySlot"></app-equipment-slot>
    </div>
  </div>

</div>
